html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents scrollbars */
}

main {
  position: relative;
}

canvas {
  display: block;
}

#sketch-container {
  position: absolute;
  top: 0;
  left: 0;
}

.poem {
  color: white;
  position: relative;
  z-index: 1; /* Places the poem on top of the sketch */
}
